<!DOCTYPE html>
<html lang="pt-br">

<head>
    <%- include('./components/head') %>


</head>

<body>

    <%- include('./components/nav') %>
    
    <% if(characterPut !=  null){ %>

    <section id ="overlay" class="modal-overlay">
        <div class="modal" id ="modal">
            <div class="modal-header">
                <h3>Atualizar character </h3>
                <a class="modal-close-put" href="/">X</a>
            </div>

            <div class="modal-body">
                        
                <form class="form-modal" action="/update/<%= characterPut.id %>" method="POST">
                    <label for="heroi">Herói:</label>
                    <input type="text" id="heroi" name="heroi" required value="<%= characterPut.heroi %>">
        
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required value="<%= characterPut.nome %>">
        
                    <label for="altura">Altura:</label>
                    <input type="text" id="altura" name="altura" required value="<%= characterPut.altura %>">
        
                    <label for="peso":>Peso:</label>
                    <input type="text" id="peso" name="peso" required value="<%= characterPut.peso %>">
        
                    <label for="sobre">Sobre:</label>
                    <input type="text" id="sobre" name="sobre" required value="<%= characterPut.sobre %>">
        
                    <label for="especie">Espécie:</label>
                    <input type="text" id="especie" name="especie" required value="<%= characterPut.especie %>"> 
        
                    <label for="imagem">Link da Imagem:</label>
                    <input type="url" id="imagem" name="imagem" required value="<%= characterPut.imagem %>">
        
                    <label for="imagem2">Link da Imagem secundária:</label>
                    <input type="url" id="imagem2" name="imagem2" required value="<%= characterPut.imagem2 %>">
        
                    <label for="imagembg">Link da imagem de fundo:</label>
                    <input type="url" id="imagembg" name="imagembg" required value="<%= characterPut.imagembg %>">
        
                    <button id="btnCadastrar" type="submit">Editar</button>
        
                </form>
            </div>
        </div>
    </section>
    <% } %>

    <% if(characterDel !=  null){ %>
    <section id ="overlay" class="modal-overlay">
        <div class="modal" id ="modal">
            <div class="modal-header">
                <h3>Apagar character? </h3>
                <a class="modal-close-put" href="/">X</a>
            </div>

            <div class="modal-body">
                <p>Tem certeza que deseja apagar o character?</p>
                <div id="btns-del">
                    <a id="no" href="/">Não</a>
                    <a href="/del/<%= characterDel.id %>" id="yes">Sim</a>
                </div>
            </div>
        </div>        
    </section>
    <% } %>
    
    <% if(characterDtl != null){ %>
        <section id="details">
            
            <div class="detail" style="background: url(<%= characterDtl.imagembg %>); background-repeat: no-repeat; background-size: cover; background-position: center; background-attachment: scroll;">

                <div class="container">
                    <img src="<%= characterDtl.imagem2 %>" alt="">
                </div>

                <div class="text">
                    <h2>
                        <%= characterDtl.heroi %>
                    </h2>
                    <p>
                        Nome: <%= characterDtl.nome %>
                    </p>
                    <p>Altura: <%= characterDtl.altura %></p>
                    <p>Peso: <%= characterDtl.peso %></p>
                    <p>Sobre: <%= characterDtl.sobre %></p>
                    <p>Especie: <%= characterDtl.especie %></p>
                </div>
                <a href="/" class="close">x</a>
            </div>

            

            <% } %>
           
        </section>


    <% if(message !="" ) { %>

        <%- include('./components/message') %>

        <% } %>

            <main>

                <section id="cards">

                    <% characterList.forEach((character)=> {%>
                        <div class="card">
                            <div class="container">
                                <img src="<%= character.imagem %>" alt="">
                            </div>
                            <div class="caracteristicas">
                                <h2>
                                    <%= character.heroi %>
                                </h2>
                                <p>
                                    Nome: <%= character.nome %>
                                </p>
                                <p>Sobre: <%= character.sobre %>
                                </p>
                            </div>
                            <div id=btns>
                                <a class="edt" href="/getById/<%= character.id %>/put">Editar</a>
                                <a href="/getById/<%= character.id %>/delete %>">Apagar</a>
                                <a class="dtl" href="/getById/<%= character.id %>/head">Detalhes</a>
                            </div>
                            
                        </div>

                        <%}) %>
                         
                        
                </section>

               

            </main>

            <%- include('./components/footer') %>


            <script src="scripts/script.js"></script>
            <script>const closeMessage = document.querySelector("#close")
                const message = document.querySelector("#message")
                
                closeMessage.addEventListener("click", function (){
                    message.style.display = "none"
                })</script>
</body>

</html>